<Files ".htaccess">
	Order Allow,Deny
	Deny from all
</Files>

<Files ".gitignore">
	Order Allow,Deny
	Deny from all
</Files>

<Files ".project">
	Order Allow,Deny
	Deny from all
</Files>

<Files ".buildpath">
	Order Allow,Deny
	Deny from all
</Files>

<Files "README.md">
	Order Allow,Deny
	Deny from all
</Files>

RewriteEngine on
    
RewriteRule /.git - [F,L]
RewriteRule /.settings - [F,L] 

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php