/**************** GOOGLE WEBFONTS ***************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Arapey:400italic,400|Hammersmith+One:400);
/**************** MAIN STYLES ***************/
html {
	height: 100%;
}
body {
	color: #6d6e71;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #ededed url(../images/bg.jpg) top repeat;
}
h1 {
	background: url(../images/bg-teal-bar.png) top right no-repeat;
	font-family: "Source Sans Pro", Arial, sans-serif;
	color: #fff;
	padding: 11px 0 11px 113px;
	font-size: 28px;
	line-height: 28px;
	margin: 0;
	position: relative;
}
h1 img {
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}
h4 {
	color: #f47b20;
	margin: 0;
	padding: 15px 0 0 0;
	font-size: 13pt;
	line-height: 16pt;
	font-weight: bold;
}
h5 {
	color: #666;
	margin: 0;
	padding: 10px 0 10px 0;
	font-weight: bold;
	line-height: normal;
	font-size: 12pt;
}

/**************** BASE STYLES ***************/
#page {
	margin-top: 90px;
	overflow: hidden;
	min-height: 100%;
	position: relative;
}
#flowersLeft {
	background: url(../images/bgleft.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
}
#flowersRight {
	background: url(../images/bgright.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	z-index: -1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
}
#header {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	height: 95px;
	z-index: 100;
	background: #fff;
	width: 960px;
	box-shadow: 0 0 10px #999;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #fff;
}
.container {
	height:100%
}
#content {
	padding: 0 0 20px 0;
	margin: 0 17px 140px 17px;
	background: #fff;
	box-shadow: 0 0 10px #999;
	height: 100%;
}
#logo {
	position: absolute;
	left: 15px;
	top: 5px;
}
#site-title {
	position: absolute;
	top: 5px;
	right: 200px;
	font-family: "Arapey", "Times New Roman", serif;
	font-size: 14pt;
	font-style: italic;
	color: #999;
}

.breadcrumbs {
	margin: 0 0 15px 0;
	padding: 20px 0 0 20px;
	font-size: 11pt;
	z-index: 0;
}
div.breadcrumbs span {
	font-weight: bold;
}
.button, button, input[type=submit] {
	cursor: pointer;
	cursor: hand;

    position: relative;
    display: inline-block;

    padding: 10px 10px;
    margin: 5px;

    background: rgb(112,181,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(112,181,242) 0%, rgb(84,164,238) 49%, rgb(54,144,240) 50%, rgb(26,97,219) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(112,181,242)), color-stop(49%,rgb(84,164,238)), color-stop(50%,rgb(54,144,240)), color-stop(100%,rgb(26,97,219))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(112,181,242) 0%,rgb(84,164,238) 49%,rgb(54,144,240) 50%,rgb(26,97,219) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(112,181,242) 0%,rgb(84,164,238) 49%,rgb(54,144,240) 50%,rgb(26,97,219) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(112,181,242) 0%,rgb(84,164,238) 49%,rgb(54,144,240) 50%,rgb(26,97,219) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(112,181,242) 0%,rgb(84,164,238) 49%,rgb(54,144,240) 50%,rgb(26,97,219) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b5f2', endColorstr='#1a61db',GradientType=0 ); /* IE6-9 */

    color: #eee;
    font-size: medium;
    font-family: Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 1;

    text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

    border: 1px solid;
    border-color: #2f71a3 #265a82 #1e4766 #265a82;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
 
    -moz-box-shadow:    inset 0px -4px 5px rgba(255,255,255,0.2),
                        inset 0px 1px 5px rgba(255,255,255,0.2),
                        /**/
                        0px 2px 0px #1e4766,
                        0px 4px 0px #1e4766,
                        0px 6px 0px #1e4766,
                        /**/
                        0px 8px 5px rgba(0,0,0,0.5);
 
    -webkit-box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2),
                        inset 0px 1px 5px rgba(255,255,255,0.2),
                        /**/
                        0px 2px 0px #1e4766,
                        0px 4px 0px #1e4766,
                        0px 6px 0px #1e4766,
                        /**/
                        0px 8px 5px rgba(0,0,0,0.5);
 
    box-shadow:         inset 0px -4px 5px rgba(255,255,255,0.2),
                        inset 0px 1px 5px rgba(255,255,255,0.2),
                        /**/
                        0px 2px 0px #1e4766,
                        0px 4px 0px #1e4766,
                        0px 6px 0px #1e4766,
                        /**/
                        0px 8px 5px rgba(0,0,0,0.5);
 
    -moz-transition: -moz-background 1s ease-out;
    -o-transition: -o-background 1s ease-out;
    -webkit-transition: -webkit-background 1s ease-out;
    transition: background 1s ease-out
}
.button:hover, button:hover, input[type=submit]:hover {
	color: #222;
	
    background: rgb(137,201,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(137,201,249) 0%, rgb(89,175,249) 50%, rgb(58,156,255) 51%, rgb(29,110,242) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(137,201,249)), color-stop(50%,rgb(89,175,249)), color-stop(51%,rgb(58,156,255)), color-stop(100%,rgb(29,110,242))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(137,201,249) 0%,rgb(89,175,249) 50%,rgb(58,156,255) 51%,rgb(29,110,242) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(137,201,249) 0%,rgb(89,175,249) 50%,rgb(58,156,255) 51%,rgb(29,110,242) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(137,201,249) 0%,rgb(89,175,249) 50%,rgb(58,156,255) 51%,rgb(29,110,242) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(137,201,249) 0%,rgb(89,175,249) 50%,rgb(58,156,255) 51%,rgb(29,110,242) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c9f9', endColorstr='#1d6ef2',GradientType=0 ); /* IE6-9 */
}
.button:active, button:active, input[type=submit]:active {
	color: #444;
    top: 4px;
 
    -moz-box-shadow:    inset 0px 4px 5px rgba(255,255,255,0.4),
                        inset 0px -1px 5px rgba(255,255,255,0.2),
                        /**/
                        0px 2px 0px #1e4766,
                        /**/
                        0px 4px 5px rgba(0,0,0,0.5);
 
    -webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
                        inset 0px -1px 5px rgba(255,255,255,0.2),
                        /**/
                        0px 2px 0px #1e4766,
                        /**/
                        0px 4px 5px rgba(0,0,0,0.5);
 
    box-shadow:         inset 0px 4px 5px rgba(255,255,255,0.4),
                        inset 0px -1px 5px rgba(255,255,255,0.2),
                        /**/
                        0px 2px 0px #1e4766,
                        /**/
                        0px 4px 5px rgba(0,0,0,0.5);
}
.button.hide, button.hide, input[type=submit].hide {
	display: none;
}
/************** MENU STYLES **************/

#mainmenu {
	position: absolute;
	top: 40px;
	right: 5px;
	height: 50px;
	border-radius: 5px;
	text-align: right;
	z-index: 0;
	height: 50px;
}
#mainmenu ul {
	padding: 0;
	margin: 0;
}
#mainmenu ul li {
	display: inline;
}
#mainmenu ul li a {
	text-decoration: none;
	background: #f47b20 url(../images/bg-menu.jpg) bottom center repeat-x;
	width: 75px;
	height: 50px;
	float: left;
	margin-right: 3px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
}
#mainmenu ul li a span {
	color: transparent;
	display: block;
	width: 100%;
	height: 100%;
}
#mainmenu ul li a #menu-home {
	background: url(../images/icon-home.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-home {
	background: url(../images/icon-home.png) bottom center no-repeat;
}
#mainmenu ul li a #menu-contact {
	background: url(../images/icon-contact.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-contact {
	background: url(../images/icon-contact.png) bottom center no-repeat;
}
#mainmenu ul li a #menu-profile {
	background: url(../images/icon-profile.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-profile {
	background: url(../images/icon-profile.png) bottom center no-repeat;
}
#mainmenu ul li a #menu-forum {
	background: url(../images/icon-forum.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-forum {
	background: url(../images/icon-forum.png) bottom center no-repeat;
}
#mainmenu ul li a #menu-courses {
	background: url(../images/icon-courses.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-courses {
	background: url(../images/icon-courses.png) bottom center no-repeat;
}
#mainmenu ul li a #menu-admin {
	background: url(../images/icon-admin.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-admin {
	background: url(../images/icon-admin.png) bottom center no-repeat;
}
#mainmenu ul li a #menu-logout {
	background: url(../images/icon-logout.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-logout {
	background: url(../images/icon-logout.png) bottom center no-repeat;
}
#mainmenu ul li a #menu-login {
	background: url(../images/icon-login.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-login {
	background: url(../images/icon-login.png) bottom center no-repeat;
}
#mainmenu ul li a #menu-register {
	background: url(../images/icon-register.png) top center no-repeat;
}
#mainmenu ul li a:hover #menu-register {
	background: url(../images/icon-register.png) bottom center no-repeat;
}
#mainmenu ul li a:hover {
	color: #fff;
	background: #f47b20 url(../images/bg-menu.jpg) top center repeat-x;
	text-decoration: none;
}
#mainmenu ul li.active a {
	color: #fff;
	background: #f47b20 url(../images/bg-menu-active.jpg) bottom center repeat-x;
	text-decoration: none;
	text-shadow: 2px 2px 10px #007782;
}
#mainmenu ul li.active a:hover {
	color: #fff;
	background: #f47b20 url(../images/bg-menu-active.jpg) top center repeat-x;
	text-decoration: none;
}
#language {
	width: 120px;
	padding: 4px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #999;
	margin-top: -2px;
}
#language-menu {
	position: absolute;
	top: 5px;
	right: 15px;
	font-family: "Arapey", "Times New Roman", serif;
	font-size: 14pt;
}
#translate-button {
	position: absolute;
	top: 5px;
	right: 375px;
	font-family: "Arapey", "Times New Roman", serif;
	font-size: 14pt;
}
#translate-button input[type=submit] {
	padding: 3px 6px;
	font-size: 10pt;
}

/************** SIDEBAR STYLES **************/
#sidebar {
	width: 270px;
	margin: 0 20px 20px 0;
	float: right;
}
#sidebar img {
	max-width: 240px;
}
.box-sidebar {
	padding: 0;
	background: #eee;
	margin: 20px 0;
	box-shadow: 0 0 10px #999;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.box-sidebar div {
	padding: 10px 15px;
}
.box-sidebar.zero {
	padding: 10px 20px;
}
.box-sidebar.zero a {
	background: #f80000 url(../images/bg-button-red.png) center center repeat-x;
	font-size: 14pt;
	color: #fff;
	display: block;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	border-radius: 5px;
	text-shadow: 0 0 6px #000;
	text-decoration: none;
	box-shadow: 0 0 10px #999;
	font-family: "Source Sans Pro", Arial, sans-serif;
}
.box-sidebar.zero a.hide {
	display: none;
}
.box-sidebar.zero a:hover {
	opacity: .9;
}
.box-sidebar.zero a.teal {
	background: #008c99 url(../images/bg-button-teal.png) center center repeat-x;
}
.box-sidebar.two {
	padding: 0;
	background: #eee;
	margin: 0 0 20px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
	padding: 0 0 15px 0;
}
.box-sidebar.four h3 img {
	position: absolute;
	top: 0;
	left: 0;
}
.box-sidebar h3 {
	background: url(../images/bg-sidebar-header.png) top right no-repeat;
	padding: 20px;
	width: 240px;
	margin: -2px 0 0 0;
	font-size: 12pt;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: "Source Sans Pro", Arial, sans-serif;
}
.box-sidebar h3.two-line {
	padding: 10px 20px;
}
.box-sidebar h3 a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}
.box-sidebar p {
	padding: 7px 25px;
	font-size: 9pt;
	line-height: 14pt;
}
.box-sidebar li {
	font-size: 9pt;
	line-height: 14pt;
	list-style-type: none;
}
.box-sidebar ul {
	margin: 0;
	padding: 6px 20px;
}
.box-sidebar ul li {
	padding: 0 0 4px 0;
}
.box-sidebar ul span { /*teal*/
	color: #008c99;
	font-weight: bold;
}
.box-sidebar ul span span { /*red*/
	color: #b90c0c;
}
.box-sidebar ul.tweet_list {
	padding: 0;
	list-style: none;
}
.box-sidebar ul.tweet_list li {
	clear: both;
}
.box-sidebar ul.tweet_list li a.tweet_avatar {
	float: left;
}
.box-sidebar ul.tweet_list li div {
	float: right;
	clear: right;
	width: 177px;
	font-size: 9pt;
	line-height: 14pt;
	padding: 0 0 10px 0;
}
.box-sidebar ul.tweet_list li span, .box-sidebar ul.tweet_list li span span {
	color: #6d6e71;
	font-weight: normal;
}
#flags {
	padding: 8px 0 0 13px;
}
#flags img {
	float: left;
	max-height: 45px;
	margin: 5px 8px;
}

/************** COLUMN STYLES **************/
.column-wide {
	width: 560px;
	padding: 30px 0 30px 40px;
}
#single-column {
	padding: 20px 50px;
}
.column-half {
	width: 46%;
	padding: 10px 2%;
	float: left;
}

/************** FOOTER **************/
#footer {
	margin: 0px 0 0 0;
	padding: 5px 20px;
	font-size: 12px;
	background: #464547 url(../images/bg-foot.jpg) top center repeat-x;
	color: #fff;
	min-height: 130px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
#footer .logo {
	position: absolute;
	left: 0;
	top: 10px;
}
#footer #copyright {
	color: #fff;
	float: left;
	padding: 60px 0 10px 0;
	text-align: left;
}
#footer #copyright ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer #copyright ul li {
	font-size: 8pt;
	line-height: 12pt;
}
#footer #footer-icons {
	position: absolute;
	top: 15px;
	right: 0;
}
#footer #footer-icons a {
	float: left;
	height: 48px;
	width: 48px;
	margin: 0 3px 0 0;
	color: transparent;
}
#footer #footer-icons a.pinterest {
	background: url(../images/icon-pinterest.png) bottom left no-repeat;
}
#footer #footer-icons a.facebook {
	background: url(../images/icon-facebook.png) bottom left no-repeat;
}
#footer #footer-icons a.twitter {
	background: url(../images/icon-twitter.png) bottom left no-repeat;
}
#footer #footer-icons a.youtube {
	background: url(../images/icon-youtube.png) bottom left no-repeat;
}
#footer #footer-icons a:hover {
	background-position: top;
}
.small-masthead {
	background: url(../images/home-image.jpg) top left no-repeat;
	height: 80px;
	box-shadow: inset 0 0 10px #222;
	overflow: hidden;
}
.small-masthead h1 {
	font-family: "Source Sans Pro", Arial, sans-serif;
	color: #fff;
	padding: 30px 40px;
	background: none;
	opacity: .9;
}
/**************** STYLED BOX CLASSES ***************/

.box-white {
	padding: 10px;
	background: #fff;
	margin: 10px 0 30px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
}
.box-grey {
	padding: 10px;
	background: #aaa;
	margin: 10px 0 30px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
}
.box-light-grey {
	padding: 10px;
	background: #eee;
	margin: 10px 0 30px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
}
.box-teal {
	padding: 10px;
	background: #008c99;
	margin: 0 0 20px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
}
.box-orange {
	padding: 10px;
	background: #f47b20;
	margin: 0 0 20px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
}
/**************** GENERAL CLASSES ***************/

.flowers {
	background: url(../images/bg-flower.png) top left no-repeat;
	font-family: "Source Sans Pro", Arial, sans-serif;
	color: #008c99;
	padding: 15px 0 7px 45px;
	font-size: 28px;
	line-height: 28px;
	margin: 0;
}
.flowers.top-pad {
	margin: 40px 0 0;
}
a.pdf {
	display: block;
	padding: 5px 5px 5px 35px;
	background: url(../images/icon-pdf.png) top left no-repeat;
}
a.pdf.hide {
	display: none;
}
div.flash-error, div.flash-notice, div.flash-success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}
div.flash-error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}
div.flash-notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}
div.flash-success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}
div.flash-error a {
	color: #8a1f11;
}
div.flash-notice a {
	color: #514721;
}
div.flash-success a {
	color: #264409;
}
div.form .rememberMe label {
	display: inline;
}
div.form .rememberMe label.hide {
	display: none;
}
div.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}
.loading {
	background-color: #eee;
	background-image: url('../images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 1;
}
.align_top {
	vertical-align: top;
	margin-top: 0;
}
.portlet {
}
.portlet-decoration {
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}
.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}
.portlet-content {
	font-size: 0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom: 15px;
	background: #EFFDFF;
}
.portlet-content ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.portlet-content li {
	padding: 2px 0 4px 0px;
}
.image-right {
	float: right;
	margin: 15px 15px 15px 20px;
}
.image-left {
	float: left;
	margin: 15px 20px 15px 15px;
}
.opacity-hover {
	opacity: .7;
}
.opacity-hover:hover {
	opacity: 1;
}
.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.block-center.hide {
	display: none;
}
