@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo);
div.course-slide {
	min-height: 100%;
	position: relative;
}
div.course-slide div.content {
	padding-top: 10px;
	padding-bottom: 55px;
}
div.course-slide div.buttons {
	text-align: center;
	background: #333;
	border-radius: 10px;
	height: 40px;
	padding: 5px;
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
}
div.course-slide img {
	border: none;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
div.course-slide div.question {
	background-color: #FFF;
	border-radius: 15px;
	width: 90%;
	height: 65px;
	margin: 10px auto 10px auto;
	padding: 10px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}
div.course-slide div.box-white {
	padding: 10px;
	background: #fff;
	margin: 10px 0 30px 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
	width: 60%;
}
/* all non-slide css3 */

#developers p {
	font-size: small;
}
div.course-slide p.forum {
	font-family: 'Swanky and Moo Moo', cursive;
	color:#F00;
}
