div.box-sidebar.two p {
	text-align: center;
	font-family: 'Comic Sans MS', cursive;
}
div.box-sidebar.two p.title {
	color: #900;
	font-size: 24px;
}
div.course-slide {
	min-height: 100%;
	position: relative;
}
div.course-slide div.question {
	background-color: #FFF;
	border-radius: 15px;
	width: 75%;
	height: 65px;
	margin: 10px 0 25px 25px;
	padding: 10px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}
div.course-slide div.content {
	padding-top: 10px;
	padding-bottom: 55px;
}
div.course-slide div.buttons {
	text-align: center;
	background: #ddd;
	border-radius: 10px;
	height: 40px;
	padding: 5px;
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
}
#surveynotify {
	color: #F00;
	line-height: normal;
	font-size: 30px;
	text-align: center;
}
#developers p {
	font-size: small;
}
div.course-slide img {
	float: right;
	margin: 0 15px 15px 15px;
	border: none;
}
