@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo);
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);
div.course-slide {
	min-height: 100%;
	position: relative;
}
div.course-slide div.content {
	padding: 5px 0px 50px 0px;
	margin: 0;
}
div.course-slide div.buttons {
	text-align: center;
	background: #333;
	border-radius: 10px;
	height: 40px;
	padding: 5px;
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
}
div.course-slide img {
	border: none;
	display: block;
	margin: 0 auto 10px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
div.course-slide div.question {
	background-color: #FFF;
	border-radius: 10px;
	width: 90%;
	height: 100px;
	margin: 10px auto 10px auto;
	padding: 10px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}
div.course-slide div.box-white {
	padding: 10px;
	background: #fff;
	margin: 10px 0 30px 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
	width: 60%;
}
div.course-slide div#video {
	display: block;
	margin: 20px auto;
	background-color: #FFF;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}
.forum {
	font-family: 'Swanky and Moo Moo', cursive;
	color: #000;
	font-size: 22px;
}
ul.forum li {
	font-family: 'Swanky and Moo Moo', cursive;
	color: #000;
	font-size: 22px;
}
/* course-slide table properties */

div.course-slide table {
	width: 100%;
	margin: 10px auto 10px auto;
	border: none;
}
div.course-slide table th {
	background-color: #008080;
	color: #FFF;
	text-align: center;
}
div.course-slide table td {
	background-color: #666;
	color: #FFF;
	text-align: center;
}
div.course-slide table td ul li {
	list-style-type: none;
	list-style-image: none;
}
/* all non-slide css3 */

div#resources p {
	font-size: small;
}
div#resources ul li {
	font-size: small;
}
div#developers p {
	font-size: small;
}
.h5 {
	color: #666;
	margin: 0;
	padding: 10px 0 10px 0;
	font-weight: bold;
	line-height: normal;
	font-size: 12pt;
}
.name {
	font-family: 'Swanky and Moo Moo', cursive;
	color: #F00;
	font-size: 18px;
}
div.box-sidebar img {
	border: none;
	display: block;
	margin: 0 auto 10px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
ul.bulletlist li {
	margin-bottom: 10px;
}
