@charset "UTF-8";
/* CSS Document */
ul#resources li {
    margin-bottom: 10px;
}

ul.modules li {
    margin-bottom: 10px;
    list-style-type: none;
}

div.course-slide {
    min-height: 100%;
    position: relative;
}

div.course-slide div.content {
    padding: 5px 0px 50px 0px;
    margin: 0;
}

div.course-slide div.buttons {
    text-align: center;
    background: #333;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

div.course-slide img {
    border: none;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.course-slide div.question {
    background-color: #FFF;
    border-radius: 10px;
    width: 95%;
    height: 125px;
    margin: 5px auto;
    padding: 10px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
}

div.course-slide div.box-white {
    padding: 10px;
    background: #fff;
    margin: 10px 0 30px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
    width: 60%;
}

div.course-slide div#video {
    display: block;
    margin: 20px auto;
    background-color: #FFF;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
}

.forum {
    color: #00F;
}

/* course-slide table properties */

div.course-slide table {
    width: 100%;
    margin: 10px auto 25px auto;
    border: solid #000000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

div.course-slide table th {
    background-color: #008080;
    color: #FFF;
    text-align: center;
}

div.course-slide table td {
    background-color: #666;
    color: #FFF;
}

/* all non-slide css3 */

.h5 {
    color: #666;
    margin: 0;
    padding: 10px 0 10px 0;
    font-weight: bold;
    line-height: normal;
    font-size: 12pt;
}

div.box-sidebar img {
    border: none;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.box-sidebar img#facilitator {
    border: none;
    display: block;
    margin: 10px 0 0 0;
    -webkit-border-radius: 0px -webkit-border-bottom-right-radius : 5 px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.box-sidebar img#certificate {
    border: none;
    display: block;
    margin: 10px 0 0 0;
    -webkit-border-radius: 0px -webkit-border-bottom-right-radius : 5 px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}