div.course-slide ul#developers {
	font-size: small;
	font-style: italic;
}
div.course-slide ul#quotes {
	font-family: "Hammersmith One", Impact, sans-serif;
	font-size: 2em;
	color: #b71010;
}
div.course-slide iframe.tutorial-video {
	float: right;
	margin: 0 0 15px 15px;
}
div.box-sidebar.two p.title {
	color: #900;
	font-size: 24px;
}
div.course-slide {
	min-height: 100%;
	position: relative;
}
div.course-slide div.question {
	background-color: #FFF;
	border-radius: 15px;
	width: 75%;
	height: 85px;
	margin: 10px 0 25px 25px;
	padding: 10px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}
div.course-slide div.content {
	padding-top: 10px;
	padding-bottom: 55px;
}
div.course-slide div.buttons {
	text-align: center;
	background: #ddd;
	border-radius: 10px;
	height: 40px;
	padding: 5px;
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
}
div.course-slide img {
	float: right;
	margin: 0 15px 15px 15px;
	border: none;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
div.course-slide img.normal {
	float: left;
	margin-left: 25px;
	border: none;
}
div.course-slide p.link {
	color: #36F;
}
div.course-slide div.box-white {
	padding: 10px;
	background: #fff;
	margin: 10px 0 30px 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px #999;
	width: 60%;
}
div.course-slide .right-answer {
	color:#060; 
	font-weight:bold;
}
div.course-slide .wrong-answer {
	color:#C00; 
	font-weight:bold;
}