@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo);
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
div.course-slide {
	min-height: 720px;
	position: relative;
}
div.course-slide div.content {
	padding-top: 10px;
	padding-bottom: 55px;
}
div.course-slide div.content p {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
div.course-slide div.buttons {
	text-align: center;
	background: #ddd;
	border-radius: 10px;
	height: 40px;
	padding: 5px;
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
}
div.course-slide img {
	border: none;
	display: block;
	margin: 0 auto 10px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
div.course-slide p a:link {
	color: #03F;
	font-family: 'Happy Monkey', cursive;
	font-size: 16px;
}
div.course-slide p a:visited {
	color: #03F;
	font-family: 'Happy Monkey', cursive;
	font-size: 16px;
}
div.course-slide p a:hoover {
 color: #C60;
 font-family: 'Happy Monkey', cursive;
 font-size: 16px;
}
div.course-slide p a:active {
	color: #39F;
	font-family: 'Happy Monkey', cursive;
	font-size: 16px;
}
div.course-slide p#data {
	text-align: center;
	font-family: 'Happy Monkey', cursive;
	color: #F00;
}
div.course-slide div.question {
	text-align:center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 14px;
	background-color: #FFF;
	border-radius: 15px;
	width: 90%;
	height: 100px;
	margin: 10px auto 10px auto;
	padding: 10px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	color: #000;
}
div.course-slide p.right-answer {
	color: #030;
	font-size: 13px;
	font-family: 'Swanky and Moo Moo', cursive;
	text-align:left;
}
div.course-slide p.wrong-answer {
	color: #600;
	font-size: 13px;
	font-family: 'Swanky and Moo Moo', cursive;
	text-align:left;
}
